aioquic==1.2.0
anyio==4.4.0
asyncio==3.4.3
attrs==23.2.0
certifi==2024.6.2
cffi==1.16.0
click==8.1.7
colorama==0.4.6
cryptography==42.0.8
dnslib==0.9.24
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.7
Jinja2==3.1.4
MarkupSafe==2.1.5
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pylsqpack==0.3.18
pyOpenSSL==24.1.0
service-identity==24.1.0
sniffio==1.3.1
starlette==0.37.2
uvicorn==0.30.1
watchdog==4.0.1
wsproto==1.2.0
